# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
/vendor
configs/dev
configs/dev/
configs/dev/*
configs/_segmentation.yaml

# vscode ide files
launch.json
settings.json
/.idea/
.idea/
/.vscode/
.DS_Store
__debug_bin

# Local project
.env
.env.dev
.env.stage
launch.json
/bin/
/logs/
/venv/
c.out
*.pem
/swapperui/
.gitsecret/keys/random_seed
chart/sun-ms-profile/secret_values.yaml
binding.jsontestsecretfile.txt
!*.secret
/.project

/**/coverage.txt
/**/cockroach-data/
